.username
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    color: darkviolet;
}
.email
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    color: darkviolet;
}
.passid
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    color: darkviolet;
}